/* body {
  margin: 0px;
}

.container {
  border: 1px groove;
  border-color: blueviolet;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0 0 0 0;
}

.maintitle {
  margin: 1.25rem;
  text-justify: center;
} */
